.home {
    padding: 96px 0;
    background-color: #F5F7FA;
}

.home__row {
    display: flex;
    align-items: center;
}

.home__content {
    max-width: 657px;
    margin-right: 104px;
}

.home__title {
    font-size: 64px;
    font-weight: 600;
    line-height: 118.75%;
    color: #4D4D4D;
}

.home__title+* {
    margin-top: 16px;
}

.home__text+* {
    margin-top: 32px;
}

.home__buttons {
    display: flex;
}

@media (max-width: 1199px){
    .home__row {
        justify-content: space-between;
    }
    
    .home__title {
        font-size: 54px;
    }

    .home__content {
        max-width: 657px;
        margin-right: unset;
    }
}

@media (max-width: 1099px){
    .home__content {
        max-width: 550px;
        margin-right: 50px;
    }
}

@media (max-width: 992px){
    .home {
        padding: 40px 0;
    }

    .home__title {
        font-size: 42px;
    }

    .home__row {
        flex-direction: column;
    }

    .home__content {
        max-width: 550px;
        margin-right: unset;
        margin-bottom: 30px;
    }
}