/* General */
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Background */
/* Text */
/* Border */
/* Transition */
/* Fonts */
/* Base */
body {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  line-height: 150%;
  color: #fff;
  background-color: #141414;
}

/* Utilyty */
.none {
  display: none !important;
}

.no-scroll {
  overflow: hidden;
}

/* Grid */
.container {
  max-width: 1280px;
  box-sizing: content-box;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1279px) {
  .container {
    max-width: 100%;
  }
}
/* Text */
.text-secondary {
  color: #999;
}

.title {
  font-size: 38px;
  line-height: 150%;
  font-weight: 600;
  position: relative;
  padding-top: 21px;
}

.title::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -6px;
  left: -10px;
  width: 55px;
  height: 24px;
  background: url(../img/header-decoration.svg) no-repeat center;
  background-size: cover;
}

@media (max-width: 992px) {
  .text-secondary {
    font-size: 14px;
    line-height: 150%;
  }
  .title {
    font-size: 28px;
    line-height: 120%;
  }
  .title::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 1px;
    left: -8px;
    width: 46px;
    height: 20px;
  }
}
.slider {
  overflow: hidden;
}

.button {
  padding: 14px 20px;
  border: 1px solid #262626;
  border-radius: 8px;
  background-color: #141414;
  transition: all 0.3s ease;
  font-size: 14px;
}

.button_secondary {
  background-color: #1A1A1A;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.button_purple {
  background: rgb(112, 59, 247);
}

.button_purple:hover {
  background-color: rgba(112, 59, 247, 0.8);
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  width: 44px;
  height: 44px;
  background-color: #1A1A1A;
  border: 1px solid #262626;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  background-color: transparent;
  opacity: 1;
}

.swiper-button-prev.swiper-button-disabled::after,
.swiper-button-next.swiper-button-disabled::after {
  opacity: 0.35;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.stats-hero {
  display: flex;
  align-items: center;
  margin: 0 -8px;
}
.stats-hero__column {
  padding: 0 8px;
  flex: 0 1 33.333%;
}
.stats-hero__card {
  white-space: nowrap;
  height: 99px;
  background-color: #1A1A1A;
  border: 1px solid #262626;
  border-radius: 10px;
  padding: 14px 20px;
}
.stats-hero__title {
  font-size: 30px;
  line-height: 150%;
  font-weight: 700;
}
.stats-hero__subtitle {
  margin-top: 2px;
}

@media (max-width: 1399px) {
  .stats-hero {
    flex-wrap: wrap;
  }
  .stats-hero__column {
    flex: 0 1 50%;
    padding-top: 16px;
  }
  .stats-hero__column:last-child {
    flex: 0 1 100%;
  }
}
@media (max-width: 1250px) {
  .stats-hero__card {
    padding: 16px 16px;
  }
}
@media (max-width: 992px) {
  .stats-hero {
    text-align: center;
  }
  .stats-hero__column {
    flex: 0 1 50%;
    padding-top: 16px;
  }
  .stats-hero__column:last-child {
    flex: 0 1 100%;
  }
}
@media (max-width: 389px) {
  .stats-hero__column {
    flex: 0 1 100%;
    padding-top: 16px;
  }
}
/* Blocks */
.banner-header {
  padding: 14px 0;
  background: url(../img/header/background.png);
  background-color: #1A1A1A;
  background-position: center;
  background-size: cover;
  position: relative;
}
.banner-header__row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 6px;
}
.banner-header__text, .banner-header .banner-header__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}
.banner-header .banner-header__link {
  text-decoration: underline;
}
.banner-header__close {
  position: absolute;
  right: 32px;
  top: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.2);
  padding: 4px;
}

@media (max-width: 767px) {
  .banner-header__text, .banner-header .banner-header__link {
    font-size: 12px;
    margin-left: -30px;
  }
  .banner-header__row {
    display: block;
    text-align: center;
  }
  .banner-header__close {
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.main-header {
  padding: 14px 0;
  border-top: 1px solid #262626;
  border-bottom: 1px solid #262626;
  background-color: #1A1A1A;
}
.main-header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header__nav ul {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 24px;
  font-weight: 500;
  line-height: 150%;
  font-size: 14px;
}
.main-header__active {
  padding: 12px 20px;
}
.main-header__mobile-menu {
  display: none;
}

@media (max-width: 767px) {
  .main-header__nav ul {
    display: none;
  }
  .main-header__active {
    padding: 12px 20px;
  }
  .main-header__contact {
    display: none;
  }
  .main-header__mobile-menu {
    display: block;
  }
}
.mobile-menu {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #1A1A1A;
  z-index: 100;
}
.mobile-menu__column {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.mobile-menu__logo {
  text-align: center;
  align-self: flex-start;
}
.mobile-menu__nav {
  text-align: center;
  font-size: 22px;
}
.mobile-menu__nav li + * {
  margin-top: 50px;
}
.mobile-menu__active {
  color: #703BF7;
}
.mobile-menu__contact, .mobile-menu__contact button {
  margin-bottom: 2.5%;
  font-size: 18px;
  width: 100%;
}
.mobile-menu__mobile-menu {
  z-index: 101;
  position: absolute;
  right: 45px;
  top: 22px;
}

.hero {
  margin-top: 70px;
}
.hero__row {
  display: flex;
  align-items: center;
  gap: 60px;
}
.hero__content {
  flex: 0 1 50%;
}
.hero__title + * {
  margin-top: 10px;
}
.hero__text + * {
  margin-top: 50px;
}
.hero__image {
  flex: 0 1 50%;
}
.hero__image img {
  max-width: 100%;
}

@media (max-width: 1309px) {
  .hero__row {
    gap: 40px;
  }
  .hero__content {
    flex: 0 1 45%;
  }
  .hero__image {
    flex: 0 1 55%;
  }
}
@media (max-width: 992px) {
  .hero {
    margin-top: 50px;
  }
  .hero__row {
    flex-direction: column-reverse;
  }
  .hero__content, .hero__image {
    flex: unset;
    max-width: 90%;
  }
  .hero__title + * {
    margin-top: 8px;
  }
  .hero__text + * {
    margin-top: 40px;
  }
  .hero__image img {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .hero__content, .hero__image {
    max-width: 100%;
  }
}
.values {
  margin-top: 120px;
}
.values__row {
  display: flex;
  gap: 60px;
  align-items: center;
}
.values__title + * {
  margin-top: 10px;
}
.values__content {
  max-width: 32.265%;
}
.values__cards {
  padding: 50px;
  border-radius: 12px;
  border: 1px solid #262626;
  box-shadow: 0px 0px 0px 8px #191919;
  display: grid;
  grid-template: 1fr/1fr 1fr;
  row-gap: 24px;
}

.card-values__row {
  display: flex;
  gap: 10px;
  align-items: center;
}
.card-values__row + * {
  margin-top: 16px;
}
.card-values__image {
  border: 1px solid #703BF7;
  border-radius: 50%;
  padding: 16px;
}
.card-values__title {
  font-size: 20px;
  font-weight: 600;
}

.card-values:nth-of-type(1),
.card-values:nth-of-type(2) {
  border-bottom: 1px solid #262626;
  padding-bottom: 24px;
}

.card-values:nth-of-type(even) {
  padding-left: 24px;
  position: relative;
}

.card-values:nth-of-type(even)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: calc(100% - 25px);
  background-color: #262626;
}

.card-values:nth-of-type(odd) {
  padding-right: 24px;
}

@media (max-width: 992px) {
  .values {
    margin-top: 90px;
  }
  .values__row {
    flex-direction: column;
    gap: 40px;
    align-items: initial;
  }
  .values__title + * {
    margin-top: 8px;
  }
  .values__content {
    max-width: 80%;
  }
}
@media (max-width: 767px) {
  .values {
    margin-top: 80px;
  }
  .values__content {
    max-width: initial;
  }
  .values__cards {
    padding: 24px;
    grid-template: 1fr/1fr;
    row-gap: 20px;
  }
  .card-values__row {
    gap: 8px;
  }
  .card-values__row + * {
    margin-top: 14px;
  }
  .card-values__image {
    padding: 14px;
  }
  .card-values__image img {
    max-width: 24px;
    max-height: 24px;
  }
  .card-values__title {
    font-size: 18px;
  }
  .card-values:nth-of-type(1),
  .card-values:nth-of-type(2) {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .card-values:not(:last-child) {
    border-bottom: 1px solid #262626;
    padding-bottom: 20px;
  }
  .card-values:nth-of-type(even) {
    padding-left: 0;
  }
  .card-values:nth-of-type(even)::after {
    display: none;
  }
  .card-values:nth-of-type(odd) {
    padding-right: 0;
  }
}
.achievements {
  margin-top: 120px;
}
.achievements__title + * {
  margin-top: 10px;
}
.achievements__text {
  max-width: calc(100% - 250px);
}
.achievements__text + * {
  margin-top: 60px;
}
.achievements__row {
  display: flex;
  align-items: center;
  margin-left: -15px;
  margin-right: -15px;
}
.achievements__column {
  padding: 0 15px;
  flex: 0 1 33.333%;
}

.card-achievements {
  border-radius: 10px;
  border: 1px solid #262626;
  box-shadow: 0px 0px 0px 6px #191919;
  padding: 40px;
}
.card-achievements__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.card-achievements__title + * {
  margin-top: 24px;
}

@media (max-width: 1299px) {
  .achievements {
    margin-top: 90px;
  }
  .achievements__title + * {
    margin-top: 8px;
  }
  .achievements__text + * {
    margin-top: 40px;
  }
  .achievements__row {
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }
  .achievements__column {
    padding: 0 10px;
    flex: 0 1 50%;
    text-align: center;
  }
  .achievements__column:last-child {
    padding-top: 20px;
    flex: 0 1 100%;
  }
  .card-achievements {
    padding: 30px;
  }
  .card-achievements__title {
    font-size: 20px;
  }
  .card-achievements__title + * {
    margin-top: 16px;
  }
  .card-achievements__text {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .achievements {
    margin-top: 80px;
  }
  .achievements__row {
    flex-wrap: wrap;
    margin-left: initial;
    margin-right: initial;
  }
  .achievements__text {
    max-width: initial;
  }
  .achievements__column {
    padding: initial;
    text-align: initial;
    flex: 0 1 100%;
  }
  .achievements__column:last-child {
    padding-top: initial;
  }
  .achievements__column + * {
    margin-top: 20px;
  }
  .card-achievements {
    box-shadow: 0px 0px 0px 4px #191919;
  }
  .card-achievements__text {
    font-size: 14px;
  }
}
.steps {
  margin-top: 120px;
}
.steps__title + * {
  margin-top: 10px;
}
.steps__text {
  max-width: calc(100% - 250px);
}
.steps__text + * {
  margin-top: 60px;
}
.steps__row {
  display: grid;
  align-items: stretch;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 40px;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
}

.card-steps {
  display: flex;
  flex-direction: column;
}
.card-steps__numeration {
  padding: 14px 16px;
  margin-left: -1px;
  border-left: 1px solid #703BF7;
}
.card-steps__content {
  flex-grow: 1;
  padding: 40px;
  border-radius: 0px 10px 10px 10px;
  position: relative;
  background: linear-gradient(121deg, #703BF7 -49.01%, rgba(112, 59, 247, 0) 13.65%);
  background-color: #141414;
}
.card-steps__content::after {
  flex-grow: 1;
  border-radius: 0px 10px 10px 10px;
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background: linear-gradient(130deg, #703BF7 0%, #262626 27%);
}
.card-steps__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}
.card-steps__title + * {
  margin-top: 16px;
}

@media (max-width: 1199px) {
  .steps {
    margin-top: 90px;
  }
  .steps__row {
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 40px;
    grid-template: 1fr 1fr/1fr 1fr;
  }
}
@media (max-width: 992px) {
  .steps {
    margin-top: 80px;
  }
  .steps__title + * {
    margin-top: 8px;
  }
  .steps__text {
    max-width: initial;
  }
  .steps__text + * {
    margin-top: 40px;
  }
  .steps__row {
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 30px;
    grid-template: 1fr/1fr;
  }
  .card-steps__content {
    padding: 30px;
  }
  .card-steps__title {
    font-size: 18px;
  }
  .card-steps__title + * {
    margin-top: 14px;
  }
  .card-steps:nth-of-type(4),
  .card-steps:nth-of-type(5),
  .card-steps:nth-of-type(6) {
    display: none;
  }
}
.team {
  margin-top: 120px;
}
.team__title + * {
  margin-top: 10px;
}
.team__text {
  margin-right: 250px;
}
.team__text + * {
  margin-top: 60px;
}
.team__row {
  display: grid;
  gap: 20px;
  grid-template: 1fr/repeat(4, 1fr);
}

.card-team {
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #262626;
}
.card-team__image {
  position: relative;
  text-align: center;
}
.card-team__image + * {
  margin-top: 50px;
}
.card-team__image img {
  max-width: 100%;
  aspect-ratio: 1.16/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.card-team__contact {
  position: absolute;
  bottom: -18px;
  left: 50%;
  border-radius: 43px;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #703BF7;
  z-index: 1;
  max-height: 40px;
}
.card-team__name {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
}
.card-team__name + * {
  margin-top: 4px;
}
.card-team__post {
  text-align: center;
}
.card-team__post + * {
  margin-top: 20px;
}
.card-team__form {
  background-color: #1A1A1A;
  border-radius: 100px;
  border: 1px solid #262626;
  padding: 10px 10px 10px 20px;
  max-width: 100%;
}
.card-team form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-team input {
  line-height: 175%;
}
.card-team button {
  padding: 8px;
  border-radius: 50%;
  background-color: #703BF7;
}

@media (max-width: 1299px) {
  .team__row {
    grid-template: 1fr/1fr 1fr;
  }
  .team__text {
    margin-right: initial;
  }
}
@media (max-width: 767px) {
  .team {
    margin-top: 80px;
  }
  .team__title + * {
    margin-top: 8px;
  }
  .team__text + * {
    margin-top: 40px;
  }
  .team__row {
    grid-template: 1fr/1fr;
  }
  .card-team {
    padding: 20px;
  }
  .card-team__image + * {
    margin-top: 40px;
  }
  .card-team__name {
    font-size: 18px;
    line-height: 155.556%;
  }
  .card-team__name + * {
    margin-top: 2px;
  }
  .card-team__post + * {
    margin-top: 16px;
  }
  .card-team__form {
    padding: 8px 8px 8px 24px;
  }
  .card-team input {
    font-size: 14px;
  }
  .card-team button {
    padding: 14px;
  }
}
.clients {
  margin-top: 120px;
  margin-bottom: 120px;
}
.clients__title + * {
  margin-top: 10px;
}
.clients__text + * {
  margin-top: 60px;
}
.clients__swiper {
  overflow: hidden;
  padding: 8px;
  align-items: stretch;
}

.swiper-wrapper {
  align-items: stretch;
}

.slide-clients {
  height: auto;
  border-radius: 12px;
  padding: 40px;
  border: 1px solid #262626;
  box-shadow: 0px 0px 0px 8px #191919;
}
.slide-clients__title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slide-clients__title-row + * {
  margin-top: 30px;
}
.slide-clients__subtitle + * {
  margin-top: 4px;
}
.slide-clients__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
}
.slide-clients__row {
  display: flex;
  align-items: center;
}
.slide-clients__row + * {
  margin-top: 30px;
}
.slide-clients__column {
  flex: 0 1 50%;
}
.slide-clients__column:first-of-type {
  padding-right: 20px;
}
.slide-clients__column:last-of-type {
  border-left: 1px solid #262626;
  padding-left: 20px;
}
.slide-clients__domainAndCategory {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #999;
  gap: 4px;
}
.slide-clients__domainAndCategory + * {
  margin-top: 6px;
}
.slide-clients__content {
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #262626;
}
.slide-clients__content-title + * {
  margin-top: 10px;
}

.swiper__navigation {
  margin-top: 40px;
  padding-top: 16px;
  border-top: 1px solid #262626;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 60px;
}
.swiper__buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.swiper__index {
  align-self: start;
}
.swiper__index__current {
  color: #fff;
}

@media (max-width: 767px) {
  .clients {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .clients__title + * {
    margin-top: 8px;
  }
  .clients__text + * {
    margin-top: 40px;
  }
  .clients__swiper {
    padding: 6px;
  }
  .swiper__navigation {
    margin-top: 30px;
    padding-bottom: 5px;
    justify-content: flex-end;
    position: relative;
  }
  .swiper__index {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
  }
  .swiper-button-prev {
    position: absolute;
    left: 0;
  }
  .slide-clients {
    padding: 24px;
    box-shadow: 0px 0px 0px 6px #191919;
  }
  .slide-clients__title-row {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }
  .slide-clients__title-row + * {
    margin-top: 30px;
  }
  .slide-clients__subtitle + * {
    margin-top: 2px;
  }
  .slide-clients__title {
    font-size: 20px;
  }
  .slide-clients__button-container, .slide-clients__button {
    width: 100%;
  }
  .slide-clients__column:first-of-type, .slide-clients__column:last-of-type {
    padding-right: 16px;
  }
  .slide-clients__domainAndCategory {
    font-size: 12px;
    gap: 2px;
  }
  .slide-clients__domainAndCategory + * {
    margin-top: 4px;
  }
  .slide-clients__content {
    padding: 20px;
  }
  .slide-clients__content-title + * {
    margin-top: 8px;
  }
  .slide-clients__text {
    font-size: 14px;
    line-height: 150%;
  }
}
.explore {
  margin-top: 72px;
  padding: 60px 0;
  border-top: 1px solid #262626;
  border-bottom: 1px solid #262626;
  background-image: url(../img/explore/bg-image-1.png), url(../img/explore/bg-image-2.png);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, right bottom;
}
.explore__row {
  display: flex;
  gap: 150px;
  align-items: center;
}
.explore__title.title {
  padding-top: 0;
}
.explore__title.title::before {
  content: "";
  width: 0;
  height: 0;
}
.explore__title + * {
  margin-top: 10px;
}
.explore__buttons {
  white-space: nowrap;
}

@media (max-width: 992px) {
  .explore {
    margin-top: 50px;
    padding: 50px 0;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    background-image: url(../img/explore/bg-image-mobile-1.png), url(../img/explore/bg-image-mobile-2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, right bottom;
  }
}
@media (max-width: 767px) {
  .explore {
    margin-top: 30px;
  }
  .explore__row {
    flex-direction: column;
    gap: 30px;
  }
  .explore__title.title {
    padding-top: 0;
  }
  .explore__title + * {
    margin-top: 6px;
  }
  .explore__buttons, .explore__buttons button {
    width: 100%;
  }
}
.footer-main {
  padding: 80px 0;
}
.footer-main__row {
  display: flex;
  gap: 80px;
}
.footer-main__logo + * {
  margin-top: 24px;
}
.footer-main__email {
  padding: 14px 20px;
  border-radius: 8px;
  border: 1px solid #262626;
  display: flex;
  gap: 6px;
  align-items: center;
}
.footer-main__email input {
  width: 209px;
}
.footer-main__email button img {
  max-height: 24px;
}
.footer-main__email img {
  max-height: 20px;
}
.footer-main__email input::-moz-placeholder {
  font-size: 14px;
  letter-spacing: -0.084px;
  line-height: 171.429%;
}
.footer-main__email input::placeholder, .footer-main__email input {
  font-size: 14px;
  letter-spacing: -0.084px;
  line-height: 171.429%;
}

.navigation-footer {
  width: 100%;
}
.navigation-footer__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.navigation-footer__title {
  font-size: 18px;
  line-height: 133.333%;
  letter-spacing: -0.108px;
  color: #999;
}
.navigation-footer__title + * {
  margin-top: 24px;
}
.navigation-footer__links a {
  letter-spacing: -0.096px;
}
.navigation-footer__links li + * {
  margin-top: 16px;
}

.footer-copyright {
  padding: 12px 0;
  background-color: #1A1A1A;
}
.footer-copyright__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-copyright__textAndLinks {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer-copyright__text, .footer-copyright__links a {
  font-size: 14px;
  line-height: 171.429%;
  letter-spacing: -0.084px;
}
.footer-copyright__icons {
  display: flex;
  gap: 8px;
}
.footer-copyright__icon {
  padding: 10px;
  background-color: #141414;
  border-radius: 50%;
}

@media (max-width: 1099px) {
  .footer-main {
    padding: 50px 0;
  }
  .footer-main__row {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
@media (max-width: 767px) {
  .footer-main__row {
    flex-direction: column;
    align-items: unset;
    gap: 50px;
  }
  .footer-main__logo + * {
    margin-top: 20px;
  }
  .footer-main__email button {
    margin-left: auto;
  }
  .navigation-footer {
    width: 100%;
  }
  .navigation-footer__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: unset;
    row-gap: 20px;
  }
  .navigation-footer__column {
    flex: 0 1 50%;
    padding-bottom: 20px;
    position: relative;
  }
  .navigation-footer__column::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: calc(100% - 20px);
    background-color: #262626;
  }
  .navigation-footer__column:nth-child(even) {
    padding-left: 20px;
    border-left: 1px solid #262626;
  }
  .navigation-footer__column:nth-child(odd) {
    padding-right: 20px;
  }
  .navigation-footer__column:nth-child(5) {
    margin-top: -100px;
    position: relative;
  }
  .navigation-footer__column:nth-child(5)::before {
    content: "";
    position: absolute;
    top: 0;
    right: -1px;
    width: 1px;
    height: 100%;
    background-color: #262626;
  }
  .navigation-footer__title {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.096px;
  }
  .navigation-footer__title + * {
    margin-top: 16px;
  }
  .navigation-footer__links a {
    font-size: 14px;
    letter-spacing: -0.084px;
    line-height: 171.429%;
  }
  .navigation-footer__links li + * {
    margin-top: 8px;
  }
  .footer-copyright {
    padding: 20px 0;
  }
  .footer-copyright__row {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .footer-copyright__textAndLinks {
    flex-direction: column;
    gap: 10px;
  }
  .footer-copyright__icon {
    padding: 20px;
  }
}
@media (max-width: 349px) {
  .navigation-footer__column:nth-child(5) {
    margin-top: -125px;
  }
}
@media (max-width: 328px) {
  .navigation-footer__column:nth-child(5) {
    margin-top: -150px;
  }
}