.hero {

    &__row {
        display: flex;
        justify-content: center;
        column-gap: 60px;
        row-gap: 56px;
        align-items: center;
    }

    &__content {
        max-width: 690px;
        padding-left: 80px;
    }

    &__title {
        font-size: 46px;
        font-weight: 600;
        line-height: 120%;
    }

    &__title+* {
        margin-top: 20px;
    }

    &__text+* {
        margin-top: 50px;
    }

    &__buttons+* {
        margin-top: 50px;
    }

    &__buttons>*+* {
        margin-left: 16px;
    }

    &__image {
        position: relative;
    }

    &__sticker {
        position: absolute;
        top: 95px;
        left: -65px;
    }
}


@media (max-width: 1399px) {
    .hero {
        &__content {
            padding-left: 15px;
        }

        &__text {
            max-width: 90%;
        }
    }
}

@media (max-width: 1250px) {
    .hero {
        &__row {
            column-gap: 30px;
            margin-bottom: 25px;
        }

        &__content {
            flex: 0 1 50%;
        }

        &__title {
            margin-top: 40px;
        }

        &__image {
            flex: 0 1 50%;
            padding-right: 15px;
        }

        &__image img {
            max-width: 100%;
            border-radius: 12px;
        }

        &__text+* {
            margin-top: 40px;
        }

        &__buttons+* {
            margin-top: 40px;
        }
    }
}

@media (max-width: 992px) {
    .hero {
        margin: 40px 0;

        &__row {
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
        }

        &__content {
            padding-right: 15px;
        }

        &__title {
            margin-top: 0;
            font-size: 36px;
        }

        &__buttons>*+* {
            margin-left: unset;
            margin-top: 16px;
        }

        &__buttons button {
            width: 100%;
        }

        &__image {
            padding-left: 15px;
        }

        &__sticker {
            top: unset;
            bottom: -40px;
            left: 15px;
            right: 0;
        }
    }
}

@media(max-width: 389px) {
    .hero {
        &__title {
            font-size: 28px;
            line-height: 120%;
        }
    }
}