.team {
    margin-top: 120px;

    &__title+* {
        margin-top: 10px;
    }

    &__text{
        margin-right: 250px;
    }

    &__text+* {
        margin-top: 60px;
    }

    &__row {
        display: grid;
        gap: 20px;
        grid-template: 1fr / repeat(4, 1fr);
    }

}

.card-team {
    padding: 24px;
    border-radius: 12px;
    border: 1px solid $border-color;

    &__image {
        position: relative;
        text-align: center;
    }

    &__image+* {
        margin-top: 50px;
    }

    &__image img {
        max-width: 100%;
        aspect-ratio: 1.16 / 1;
        object-fit: cover;
        border-radius: 10px;
    }

    &__contact {
        position: absolute;
        bottom: -18px;
        left: 50%;
        border-radius: 43px;
        transform: translateX(-50%);
        padding: 10px 20px;
        background-color: #703BF7;
        z-index: 1;
        max-height: 40px;
    }

    &__name {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        line-height: 140%;
    }

    &__name+* {
        margin-top: 4px;
    }

    &__post {
        text-align: center;
    }

    &__post+* {
        margin-top: 20px;
    }

    &__form {
        background-color: $background-secondary;
        border-radius: 100px;
        border: 1px solid $border-color;
        padding: 10px 10px 10px 20px;
        max-width: 100%;
    }

    form {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    input {
        line-height: 175%;
    }


    button {
        padding: 8px;
        border-radius: 50%;
        background-color: #703BF7;
    }
}


@media (max-width: 1299px) {
    .team {
        &__row {
            grid-template: 1fr / 1fr 1fr;
        }

        &__text{
            margin-right: initial;
        }    
    }
}

@media (max-width: 767px) {
    .team {
        margin-top: 80px;

        &__title+* {
            margin-top: 8px;
        }

        &__text+* {
            margin-top: 40px;
        }

        &__row {
            grid-template: 1fr / 1fr;
        }
    }

    .card-team {
        padding: 20px;

        &__image+* {
            margin-top: 40px;
        }


        &__name {
            font-size: 18px;
            line-height: 155.556%;

        }

        &__name+* {
            margin-top: 2px;
        }

        &__post+* {
            margin-top: 16px;
        }

        &__form {
            padding: 8px 8px 8px 24px;
        }

        input {
            font-size: 14px;
        }


        button {
            padding: 14px;
        }
    }

}