//Hero cards

.stats-hero {

    display: flex;
    align-items: center;
    margin: 0 -8px;

    &__column {
        padding: 0 8px;
        flex: 0 1 33.333%;
    }

    &__card {
        white-space: nowrap;
        height: 99px;
        background-color: $background-secondary;
        border: 1px solid $border-color;
        border-radius: 10px;
        padding: 14px 20px;
    }

    &__title {
        font-size: 30px;
        line-height: 150%;
        font-weight: 700;
    }

    &__subtitle {
        margin-top: 2px;
    }
}

@media (max-width: 1399px) {

    .stats-hero {
        flex-wrap: wrap;

        &__column {
            flex: 0 1 50%;
            padding-top: 16px;
        }

        &__column:last-child {
            flex: 0 1 100%;
        }
    }
}

@media (max-width: 1250px) {
    .stats-hero {
        &__card {
            padding: 16px 16px;
        }
    }
}


@media (max-width: 992px) {
    .stats-hero {
        text-align: center;

        &__column {
            flex: 0 1 50%;
            padding-top: 16px;
        }

        &__column:last-child {
            flex: 0 1 100%;
        }
    }
}

@media(max-width: 389px) {
    .stats-hero {
        &__column {
            flex: 0 1 100%;
            padding-top: 16px;
        }
    }
}