/* Background */
$background-primary: #141414;
$background-secondary: #1A1A1A;

/* Text */
$text-primary: #fff;
$text-secondary: #999;

/* Border */

$border-color: #262626;

/* Transition */

$transition: all 0.3s ease;